:root{
    --color-terminal: #292b36;
    --borde-redondo: 4px;

}

* {
    font-family:'Times New Roman';
}

body{
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: aqua;
    color:blueviolet;
}
input,button{
    border:#18ea15
    
}
main{
    padding: 25px;
    box-shadow: 8px 8px 35px 0px rgba(0 0 0 /75%);
    border-radius: var(--borde-redondo);

}
h1 {
    margin: 0;
    text-align: center;
    align-items: center;

}
h2 {
    text-align: center;
    align-items: center;
}
p {
    text-align: center;
    align-items: center;
}
#input-original {
    margin: 10px 0 0;
    padding:10px;
    color:white;
    border-top-left-radius: var(--borde-redondo);
    border-top-right-radius:var(--borde-redondo);
}
#resultado{
    height: 20px;
    color:aquamarine;
    padding:0 10px 10px;
    border-bottom-left-radius:var(--borde-redondo);
    border-bottom-right-radius: var(--borde-redondo);

}
.rango{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 30px;
    text-align: center;
    align-items: center;
}
input[type="range"]{
    
    border-radius: var(--borde-redondo);
    background:var(--color-terminal);
    margin:0;
    padding: 0 5px;
    height: 20px;
}

.secreto {
    display: flex;
    flex-direction: column;
    justify-content: center;


}

    
